.home-content {
    margin-top: 115px;
    padding-left: 120px;
    padding-right: 740px;
}

.text-title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
}

.text-subtitle {

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
    padding-bottom: 35px;
    color: #5A6774;
}