.button {
    height: 40px;
    width: 100px;
    background: #1890FF;
    border-radius: 4px;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    border: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    display: inline-block;
    align-items: center; //Alinha a centro
    text-align: center;
    color: #FFF;
    cursor: pointer;

}