.search-content {
    height: 250px;
    background: #E6F7FF;
    border-radius: 16px;
    padding-top: 65px;
    padding-left: 95px;
    padding-right: 195px;
    display: block;
}

.search-text-title {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 46px;
    color: #262626;
    padding-bottom: 12px;
}

.result-content {
    margin-top: 54px;
    height: 420px;
    background: #F5F5F5;
    border-radius: 8px;
    /* superior | direita | inferior | esquerda */
    padding: 25px 25px 30px 30px;
}

.btn-github {
    margin-top: 30px;
}

.result-data {
    text-align: left;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 4px 15px 4px 15px;
    margin-right: 5px;
}

.result-data1{
    margin-top: 12px;
    padding: 8px 17px 8px 14px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 5px;
    background: #FFFFFF;
}

.result-inf {
    font-style: normal;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 20px;
    line-height: 28px;
    color: #1890FF;
}
