.main-nav {    
    height: 70px;
    color: #FFF;
    background: #1890FF;
    padding-left: 40px;
    margin-left: 0;
    margin-right: 0;
    font-size: 25px;
    font-style: normal;

    display: flex;
    align-items: center;

}

.nav-logo-text {
    color: #FFF;
    color: inherit;
    text-decoration: inherit;
}